:root {
  --purpleColor: #6E07F3
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark background color */
    color: #fff; /* Text color */
  }

nav {
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.jumbotron {
  background-image: url('pexels-christina-morillo-1181387.jpg');
  background-size: cover;
  background-position: center;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.jumbotron h1 {
    color: #111;
    font-size: 58px;
}

.jumbotron p {
    color: #111;
  font-size: 30px;
}

/* About Me Section */
#about {
  padding: 50px;
  text-align: center;
  background-color: #111; /* White background */
  color: #fff; /* Text color on the white background */
}

.about-container {
  display: flex;
  flex-wrap: wrap; /*to wrap to the next row on smaller screens */
  justify-content: space-between;
}

.about-column {
  text-align: left;
  width: 100%; /* Each column takes the full width on small screens */
  max-width: 300px; /* maximum width for larger screens */
  margin-bottom: 30px; /* spacing between columns */
}
/* Banner Section */
.banner-cr {
  background-color: white;
}
.banner {
  padding: 10%;
  margin-left: 10%;
  width: 80vw;
  background-color: var(--purpleColor);
  border-radius: 10px;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  padding: 1% 5% 1% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bannerTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bannerText {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.bannerBTN {
  background-color: #320370;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.bannerBTN:hover {
  background-color: #0056b3;
}

/* Add the border line */
.about-container .about-column:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.about-column h3 {
  font-size: 24px;
}

.about-column h4 {
  font-size: 18px;
}

.about-column p {
  margin-bottom: 20px;
}

.about-column ul {
  list-style: none;
  padding: 0;
}

.about-column li {
  margin-bottom: 8px;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  /* On screens larger than 768px wide (tablet and desktop), arrange columns in a row */
  .about-container {
    flex-wrap: nowrap;
  }

  .about-column {
    width: 30%; /* Each column takes 30% of the container's width on larger screens */
    margin-bottom: 0; /* Reset the spacing between columns */
  }

  /* Remove the border line for the last column in a row */
  .about-container .about-column:not(:last-child) {
    border-right: none;
    padding-right: 0;
  }
}


.download-cv-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #007bff; 
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

/* New Section */
#new-section {
  padding: 50px;
  text-align: center;
  background-color: #f9f9f9; /* Light background color */
  color: #111; /* Text color on the light background */
}

.new-section h2 {
  font-size: 36px;
}

.new-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.new-cards-container {
  display: flex;
  justify-content: space-between;
}
.new-card {
  margin-top: 2%;
  width: 40%; /* this sets a width for the cards to fit two in a row */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.new-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.new-card ul {
  list-style: none;
  padding: 0;
}

.new-card li {
  text-align: left;
  margin-bottom: 5px;
}
/* Projects Section */
.projects {
  background-color: #6E07F3;
  padding: 30px;
}

.projects h1 {
  text-align: center;
  font-size: 2rem;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-box {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  /* box-shadow: 0px 5px 5px  antiquewhite; /* bottom border shadow color */
  box-shadow: 0px 15px 10px -15px antiquewhite; /* bottom border shadow color */
  border-color:white;
  text-align: center;
  background-color: white;
  color: black; /* font color*/
  border-radius: 3%;
}

.project-box img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.project-box h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.project-box p {
  font-size: 1rem;
  margin-top: 10px;
}

.project-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .project-box {
    width: 100%;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
  .new-cards-container {
    flex-direction: column; /* this switchs to a single column on smaller screens */
  }

  .new-card {
    width: 100%;
  }
}
/* Pricing Section */
#pricing {
  color: #111; /* Text color on the white background */
}

.pricing-cards {
  display: flex;
  justify-content: center;
}

.pricing-card {
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pricing-card h3 {
  font-size: 24px;
}

.pricing-card .price {
  font-size: 30px;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
}

.pricing-card li {
  margin-bottom: 8px;
}

/* Parallax effect */
.parallax-section {
  background-image: url('pexels-vlad-bagacian-1061623.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 50px;
  text-align: center;
}

section h2 {
  font-size: 36px;
}

/* Skills Section */
#skills {
  padding: 50px;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.skills-container {
  display: flex;
  justify-content: flex-start; /* Align the cards to the left */
  align-items: center;
  flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
  gap: 20px; /* Add some spacing between the cards */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.skill-card {
  margin-right: 5rem;
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #111;
}

.skill-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.skill-card i {
  font-size: 36px;
  margin-bottom: 15px;
}

/* Contact Me Section */
#contact {
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.contact-form,
.contact-info {
  flex-basis: calc(50% - 20px); /* Two columns with 20px gap between them */
}

.contact-form h3,
.contact-info h3 {
  font-size: 24px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #111;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 10px;
}

section:not(:first-child) {
  margin-top: 0px;/* Add some padding to the sections to give them space below the fixed navbar */
}

/* Smooth scrolling when clicking on navbar links */
html {
  scroll-behavior: smooth;
}

footer {
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  /*background-color: #e1f0ff; /* Light blue background color */
  padding: 10px; 
  border-radius: 10px; /* rounded corners to the background */
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  line-height: 40px; /* Vertically center the icons */
  text-align: center; /* Center the icons horizontally */
  border-radius: 50%; /* Make the icons circular */
  background-color: #fff; /* White background for the icons */
}

.social-icons i {
  color: var(--purpleColor); 
  font-size: 24px;
}
